<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-title>promoções</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngFor="let produto of listaProdutos">
    <ion-thumbnail slot="start">
      <img alt="" src="https://s.cornershopapp.com/product-images/2440554.png?versionId=xPVlPNkyqflegYVOEAr6Fmwy8DKfpequ" />
    </ion-thumbnail>
    <ion-label>
      <H2>{{produto.nome | uppercase }}</H2>
      <p>{{produto.descricao}}</p>
    </ion-label>
    <ion-badge color="tertiary" slot="end">R$: {{produto.valor | number: '1.2-2'}}</ion-badge>
    <ion-button slot="end"size="default" color="success" (click)="addProdutoCarrinho(produto)">
      <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
    </ion-button>
  </ion-item>
</ion-content>
