<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>promoções</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngFor="let produto of listaProdutos">
    <ion-label>
      <ion-thumbnail slot="start">
        <img alt="" src="https://s.cornershopapp.com/product-images/2440554.png?versionId=xPVlPNkyqflegYVOEAr6Fmwy8DKfpequ" />
      </ion-thumbnail>
      <H2>{{produto.nome}}</H2>
      <p>{{produto.descricao}}</p>
    </ion-label>
    <ion-badge color="tertiary" slot="end">R$: {{produto.valor}},00</ion-badge>
      <ion-button slot="end"size="default" color="success">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
    </ion-button>
  </ion-item>
</ion-content>
