<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>picanha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar mode="ios" animated="true" placeholder="Buscar Produto"></ion-searchbar>

  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="" src="https://s.cornershopapp.com/product-images/2440554.png?versionId=xPVlPNkyqflegYVOEAr6Fmwy8DKfpequ" />
      </ion-thumbnail>
      <ion-label>
        <h2>Picanha Friboi</h2>
        <p>Qualidade Friboi que todos gostão.</p>
      </ion-label>
      <ion-button expand="block" slot="end" size="large" color="danger">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="" src="https://swiftbr.vteximg.com.br/arquivos/ids/168650-768-768/picanha-angus-uruguaia-kg-617488-3.jpg?v=637369853056300000" />
      </ion-thumbnail>
      <ion-label>
        <h2>Picanha Angus</h2>
        <p>Qualidade Angus que todos gostão.</p>
      </ion-label>
      <ion-button expand="block" slot="end" size="large" color="danger">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="" src="https://deskontao.agilecdn.com.br/25181_1.jpg" />
      </ion-thumbnail>
      <ion-label>
        <h2>Picanha Suina</h2>
        <p>Qualidade Frimesa que todos gostão.</p>
      </ion-label>
      <ion-button expand="block" slot="end" size="large" color="danger">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="" src="https://cdn.awsli.com.br/300x300/1687/1687122/produto/104687692/bb373aeaed.jpg" />
      </ion-thumbnail>
      <ion-label>
        <h2>Picanha Wagyu</h2>
        <p>Qualidade Guidara que todos gostão.</p>
      </ion-label>
      <ion-button expand="block" slot="end" size="large" color="danger">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
